* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Верх*/

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 1% 10%;
    padding: 0 0px; 
}
.logo a{
    text-decoration: none;
    color: #000;
}
.logo h1{
    text-transform: uppercase;
    font-size: 30px;
}
.search-form{
    display: flex;
}
.search-form input{
    padding-left: 20px;
    width: 500px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.5); 

}
.contacts {
    display: flex;
    list-style: none;
}
.contacts li {
    padding: 15px 15px;
}
.contacts a{
    text-decoration: none;
    color: #000;
}
.o{
    margin: 0 15px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    border: none; 
    font-weight: bolder;
    box-shadow: 2px 4px 6px 2px rgba(0, 0, 0, 0.1);
}
.aa{
    padding: 7px 20px 7px;
    margin: 0 15px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(159, 205, 238);
    color: rgb(36, 91, 209);
    border: none; 
    font-weight: bolder;
}

.main{
    height: 500px;
}
/* Низ */
.footer {
    background-color: #171717;
}

.footer-container {
    margin: 1% 10%;
    padding: 0 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.footer-logo a{
    text-decoration: none;
    color: #ffffff;
}

.footer_content{
    display: flex;
    list-style: none;
}
.footer_content li{
    padding: 15px 15px;
}
.footer_content a{
    text-decoration: none;
    color: #a8a8a8;
    font-weight: lighter;
}
